$govuk-assets-path: "/public/assets/";
$govuk-global-styles: true;

@import "govuk-frontend/dist/govuk/all";

@import "variables/all";
@import "helpers/all";
@import "core/all";
@import "components/all";
@import "partials/all";
$moj-assets-path: "~@ministryofjustice/frontend/moj/assets/";
@import "../../../node_modules/@ministryofjustice/frontend/moj/all";

.govuk-width-container {
    @include govuk-width-container(1250px);
}

.govuk-pagination__item {

    @include govuk-font-size(16);
    min-width: 40px;
    padding: govuk-spacing(2) govuk-spacing(2);
}

@media (min-width : 750px) {
    .checkboxes-with-two-columns {
        column-count: 2;

    }
}

.govuk-table {
    background-color: #ffffff;
}

.gem-c-layout-footer--border {
    border-top: 10px solid #1d70b8;
}

.govuk-accordion__show-all{
    display: none;
}

.govuk-secondary-text-colour{
    color: #505a5f;
}

.app-breadcrumbs {
    @include govuk-font-size(16);
}

.govuk-checkboxes__label{

    @include govuk-font-size(16);
}

.app-breadcrumbs__link {
    text-decoration: underline;
}

.govuk-input{
    @include govuk-font-size(16);
    
}
@media (min-width:750px) {
    .app-table-layout-width {
        width: 97%;
        table-layout: fixed;
    }     
  }


.govuk-table__header,.govuk-table__cell{
    word-wrap: break-word;
}

.js-enabled .moj-filter-layout__filter {
 position: relative;
 max-width: 100%
}

.moj-filter__options{
    display:none;
}


.moj-filter__heading-action .govuk-link {
    @include govuk-font-size(16);
}

.moj-filter__selected .govuk-heading-s {
    @include govuk-font-size(16)
}

.js-hidden {
    display: none;
    visibility: hidden;
}

.thead-sticky > thead > tr{
    position: sticky;
    top: 0;
    background-color: #ffffff;
}
