{% extends 'layouts/page.njk' %}
{%- from "filter/macro.njk" import mojFilter -%}
{%- from "filter/macro.njk" import mojFilter -%}
{% block content %}
  {{ appHeading({
    text: heading,
    caption: ""
  }) }}

  <form id="formDisinfectant" method="POST" action='/'>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">
          {{pageSummaryTexts.disinfectantTableHowToReadTextStart}}
          <a href="{{externalLinks.disInfectantHowToStartLink}}" class="govuk-link">{{pageSummaryTexts.disinfectantTableHowToReadTextStartLink}}</a>.
        </p>

        <p class="govuk-body">
          {{pageSummaryTexts.disinfectantTableHowToReadText}}
          <a href="{{externalLinks.disInfectantHowToLink}}" class="govuk-link">{{pageSummaryTexts.defraDisinfectantWhenAndHowText}}</a>.
        </p>

        <div>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                {{pageSummaryTexts.learnMoreAboutApprovalText}}
              </span>
            </summary>
            <div class="govuk-details__text">
              <h2 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m">
                  {{pageSummaryTexts.approvalCategoriesHeader}}
                </label>
              </h2>
              <p class="govuk-body">
                {{pageSummaryTexts.relevantLawsText}}</p>

              {# England #}
              <h3 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s" >
                  {{pageSummaryTexts.countryList.england}}
                </label>
              </h3>
              <ul class="govuk-list govuk-list--bullet">

                <li>
                  <a class="govuk-link" href="{{externalLinks.dopLink}}">
                    {{pageSummaryTexts.england.dop}}</a>
                  {{pageSummaryTexts.andText}}
                  <a class="govuk-link" href="{{externalLinks.avianFluLink}}">
                    {{pageSummaryTexts.england.avian}}</a>
                </li>
                <li>
                  <a class="govuk-link" href="{{externalLinks.svdoLink}}">{{pageSummaryTexts.england.swine}}
                  </a>
                </li>
                <li>
                  <a class="govuk-link" href="{{externalLinks.fmdoLink}}">{{pageSummaryTexts.england.fmdo}}</a>
                </li>
                <li>
                  <a class="govuk-link" href="{{externalLinks.tboLink}}">
                    {{pageSummaryTexts.england.tuber}}</a>
                </li>
                {# England #}
              </ul>

              {# Scotland #}
              <h3 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s">
                  {{pageSummaryTexts.countryList.scotland}}
                </label>
                </h3>
                  <ul class="govuk-list govuk-list--bullet">

                    <li>
                      <a class="govuk-link" href="{{externalLinks.dopLink}}">
                        {{pageSummaryTexts.scotland.dop}}</a>
                      {{pageSummaryTexts.andText}}
                      <a class="govuk-link" href="{{externalLinks.avianFluLink}}">
                        {{pageSummaryTexts.scotland.avian}}</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="{{externalLinks.svdoLink}}">{{pageSummaryTexts.scotland.swine}}
                      </a>
                    </li>
                    <li>
                      <a class="govuk-link" href="{{externalLinks.fmdoLink}}">{{pageSummaryTexts.scotland.fmdo}}</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="{{externalLinks.tboLink}}">
                        {{pageSummaryTexts.scotland.tuber}}</a>
                    </li>
                    {# Scotland #}
                  </ul>

                  {# Wales #}
                  <h3 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--s" >
                      {{pageSummaryTexts.countryList.wales}}
                    </label>
                  </h3>
                  <ul class="govuk-list govuk-list--bullet">

                    <li>
                      <a class="govuk-link" href="{{externalLinks.dopLink}}">
                        {{pageSummaryTexts.wales.dop}}</a>
                      {{pageSummaryTexts.andText}}
                      <a class="govuk-link" href="{{externalLinks.avianFluLink}}">
                        {{pageSummaryTexts.wales.avian}}</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="{{externalLinks.svdoLink}}">{{pageSummaryTexts.wales.swine}}
                      </a>
                    </li>
                    <li>
                      <a class="govuk-link" href="{{externalLinks.fmdoLink}}">{{pageSummaryTexts.wales.fmdo}}</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="{{externalLinks.tboLink}}">
                        {{pageSummaryTexts.wales.tuber}}</a>
                    </li>
                    {# Wales #}
                  </ul>

                  <p>{{pageSummaryTexts.gotText}}
                    <a href="{{externalLinks.goNoteLink}}" class="govuk-link" rel="noreferrer noopener" target="_blank">{{pageSummaryTexts.notifiableDiseasesText}} ({{pageSummaryTexts.opensInNewWindowText}}).</a>
                  </p>

                </div>
              </details>

            </div>
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                  This page was last updated at {{lastModifiedDateWithTime}}.<a href="#end">{{pageSummaryTexts.recentUpdates}} </a>
              </strong>
            </div>
          </div>
          <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          </div>
          <div class="govuk-grid-column-two-thirds">

            <div class="govuk-form-group">
              <h2 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="searchtext">
                  {{pageSummaryTexts.searchText}}
                </label>
              </h2>

              <input class="govuk-input govuk-!-width-three-quarters"  value="{{searchText}}" placeholder="Type disinfectant name to search" id="searchtext" name="searchtext" type="text" aria-describedby="event-name-hint">

              {% from "govuk/components/button/macro.njk" import govukButton %}
              {{ govukButton({
                    text: "Search",
                    name : "searchDisinfectant",
                    id : "btnSearch",
                    value : "search"
                  }) }}
            </div>
          </div>

          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default"  data-remember-expanded="false">
              <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      {{pageSummaryTexts.viewFilterText}}
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                  <p class="govuk-body">
                    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
                    {{ govukCheckboxes(approvedCategories) }}

                    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
                    {{ govukCheckboxes(chemicalGroup) }}

                    {% from "govuk/components/button/macro.njk" import govukButton %}
                    {{ govukButton({
                              text: "Apply filters",
                              name : "applyFilter",
                              value : "apply"
                            }) }}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="govuk-grid-column-full">

            {% if filterToBeCreated %}
              <div class="moj-filter-layout">
                <div class="moj-filter-layout__filter">
                  {{
                              mojFilter({
                                heading: {
                                text: 'Filter'
                                },
                                selectedFilters: {
                                heading: {
                                  text: 'Selected filters'
                                },
                                clearLink: {
                                  text: 'Clear filters',
                                  href:clearAllLink
                                },
                                categories: filterCategories} 
                            })
                        }}

                </div>
              </div>
              {%endif%}
            </div>

            <div class="govuk-grid-column-full">
              <div class="govuk-inset-text">
                <p class="govuk-body-s">
                  {{pageSummaryTexts.insetTextFirst}}<br>
                  {{pageSummaryTexts.insetTextSecond}}
                </p>

              </div>
            </div>
            <div class="govuk-grid-column-full">
              {% from "govuk/components/pagination/macro.njk" import govukPagination %}
              {{ govukPagination(pagingConfig)}}
            </div>
            <div class="govuk-grid-column-full responsive-table-padding" id="tableDisinfectant">
              <div class="mobile-text"> <p class="govuk-body"> Please scroll the table to the right to see additonal columns.</p> </div>
              <div class="table-responsive">
              {% from "govuk/components/table/macro.njk" import govukTable %}
              {{ govukTable(tableConfig)}}
              </div>
            </div>
            <div class="govuk-grid-column-full">
              {% from "govuk/components/pagination/macro.njk" import govukPagination %}
              {{ govukPagination(pagingConfig)}}
            </div>

            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m">{{pageSummaryTexts.disinfectantEnquiryText}}</h2>
              <p class="govuk-body-m">
                  Email &nbsp; <a href="mailto:{{externalLinks.disinfectantOfficalMail}}">
                  {{externalLinks.disinfectantOfficalMail}}
                </a>  &nbsp; for further information.
                </p>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </div>
            <div class="govuk-grid-column-two-thirds" id="end">
              
              <p class="govuk-body-m">{{pageSummaryTexts.publishedText}}
                {{envGoLiveDate}}<br> {{pageSummaryTexts.lastUpdatedText}}
                {{lastModifiedDate}}
                <a
                  href="#full-history"
                  id="modifiedAndDeletedLink"
                  class="app-c-published-dates__toggle govuk-link"
                  onclick="myFunction()"
                > + show all updates
                </a>
                <div id="myDIV" style="display: none">
                  <div class="govuk-details__text">
                    <h3 class="govuk-label-wrapper">
                      <label class="govuk-label govuk-label--s">
                        {{pageSummaryTexts.changesToAC}}
                      </label>
                    </h3>
                    {% if modifiedApprovalCategories.length > 0 %}
                    <ul class="govuk-list govuk-list--bullet">
                      {% for category in modifiedApprovalCategories %}
                      <li>{{category.name}}</li>
                      {% endfor %}
                    </ul>
                    {% else %}
                    <p>{{pageSummaryTexts.noUpdates}}</p>
                    {% endif %}
                    <h3 class="govuk-label-wrapper">
                      <label class="govuk-label govuk-label--s">
                        {{pageSummaryTexts.changesToAD}}
                      </label>
                    </h3>
                    {% if deletedDisinfectants.length > 0 %} 
                    <ul class="govuk-list govuk-list--bullet">
                      {% for category in deletedDisinfectants %}
                      <li>{{category.name}}</li>
                      {% endfor %}
                    </ul>
                    {% else %}
                    <p>{{pageSummaryTexts.noUpdates}}</p>
                    {% endif %}
                  </div>
                </div>

                <input type="hidden" id="hdnPathValues" value="{{querystring}}"/>

                <script>
                function myFunction() {
                  var x = document.getElementById("myDIV");
                  var y = document.getElementById("modifiedAndDeletedLink");
                  if (x.style.display === "none") {
                    x.style.display = "block";
                    y.innerHTML = " -hide all updates";
                  } else {
                    x.style.display = "none"
                    y.innerHTML= " +show all updates"
                  }
                }

                var querystring = document.getElementById('hdnPathValues');
                const element = document.getElementById("tableDisinfectant");
                if (querystring.value.trim() !== '') {
                  window.location.href = querystring.value;
                }

                const navigationType = (window.performance.getEntriesByType('navigation')[0]).type;
                if (navigationType === 'reload') {
                  window.location.href = window.location.origin + '/#';
                }
                </script>

      {% endblock %}